<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=He, initial-scale=1.0">
    <title>Document</title>
    <!-- this is the cdn link which will help to incorporate us to use vuejs onto out app,development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <!--We use the div tag and gave it the id as of the name of the vue variable 'el' name-->
    <div id="app">
        <p>{{message}}</p>
        What's your name? <input type="text" v-model="visitor_name" />
        <!--Vue have if else conditions
        v-if,v-else,"v-else-if="-->
        <p v-if="count==0">No replies yet</p>
        <p v-else-if="count>5">You are very popular</p>
        <p v-else>Number of replies {{count}}</p>
        <button v-on:click="sayHi">Say hi</button> <!--We will apply event handlers on this-->
        <ul>
            <li v-for="name in visitors">{{name}}</li>
        </ul>
    </div>
</body>
<script type="text/javascript" src="application.js"></script>
</html>